/*Sets default user popout position to center.*/

.userPopout-3XzG_A {
	--user-popout-position: center;
}

/* #000 = UNKNOWN DISCRIMINATOR */
/*Tropical#4104*/

[user_by_bdfdb*="254362351170617345"],
[aria-label*="254362351170617345,"] {
	--user-background: url('https://media.giphy.com/media/KCkkOdKnJBlU0wPDOZ/giphy.gif');
}

/*UserImages*/
/*Entity808#7080*/
[user_by_bdfdb*="143054539531091968"],
[aria-label*="254362351170617345,"] {
	--user-background: url('https://thumbs.gfycat.com/CarefreeEnchantedGossamerwingedbutterfly-size_restricted.gif');
}
/*Aurélien Oggier#0686*/
[user_by_bdfdb*="189761708594561024"],
[aria-label*="254362351170617345,"] {
	--user-background: url('https://i.imgur.com/quJrhuo.gif');
}
/*Aurélien Oggier#0686*/
[user_by_bdfdb*="330275324610871318"],
[aria-label*="254362351170617345,"] {
	--user-background: url('https://i.imgur.com/quJrhuo.gif');
}
