/*Sets default user popout position to center.*/

.userPopout-3XzG_A {
	--user-popout-position: center;
}

/* #000 = UNKNOWN DISCRIMINATOR */
/*Tropical#4104*/

[user_by_bdfdb*="254362351170617345"],
[aria-label*="254362351170617345,"] {
	--user-background: url('https://media.giphy.com/media/KCkkOdKnJBlU0wPDOZ/giphy.gif');
}

/*UserImages*/
/*Entity808#7080*/
[user_by_bdfdb*="143054539531091968"],
[aria-label*="254362351170617345,"] {
	--user-background: url('https://thumbs.gfycat.com/CarefreeEnchantedGossamerwingedbutterfly-size_restricted.gif');
}
/*Aurélien Oggier#0686*/
[user_by_bdfdb*="189761708594561024"],
[aria-label*="254362351170617345,"] {
	--user-background: url('https://i.imgur.com/quJrhuo.gif');
}
/*kuro#4682*/
[user_by_bdfdb*="330275324610871318"],
[aria-label*="254362351170617345,"] {
	--user-background: url('https://i.pinimg.com/originals/21/56/db/2156db08e3f23192ce67df4b25817844.gif');
	--user-popout-position: right;
}
/*AssCleaver#9632*/
[user_by_bdfdb*="320342856512307200"],
[aria-label*="254362351170617345,"] {
	--user-background: url('https://media.tenor.com/images/6b87c064eefa3d6431c23c83a96669c6/tenor.gif');
}
/*Pybrah#3244*/
[user_by_bdfdb*="327832980095762432"],
[aria-label*="254362351170617345,"] {
	--user-background: url('https://media.giphy.com/media/l0HUi1Dgy4OikRos0/giphy.gif');
}
/*TheLegendOfLonk#5555*/
[user_by_bdfdb*="137551416599379968"],
[aria-label*="254362351170617345,"] {
	--user-background: url('https://cdn2.scratch.mit.edu/get_image/gallery/25179399_200x130.png');
}
/*mr.apple#4693*/
[user_by_bdfdb*="298456005317099521"],
[aria-label*="254362351170617345,"] {
	--user-background: url('https://media3.giphy.com/media/TcdpZwYDPlWXC/giphy.gif');
}
